body {
   background-color: black;
   text-align: center;
}

h1 {
   color: white;
   font-family: Arial;
}

#myCanvas {
   background-color: #2a5;
}

button, .file-input-label {
   display: inline-block;
   background-color: white;
   font-size: 20px;
   padding: 5px 7px 7px 5px;
   border: none;
   border-radius: 5px;
   text-shadow: 1px 1px black;
   cursor: pointer;
}

input[type="file"] {
   display: none;
}